/* Page */
body {
    background-color: #333;
    padding-top: 50px;
    color: #fff;
    user-select: none;
}

h1 {
	text-align: center;
	margin: 10px;
	font-family: 'VT323', monospace;
	color: #ce6000;
	font-size: 3.5em;
}

h2 {
    text-align: center;
    margin: 10px;
    font-family: 'VT323', monospace;
    color: #ce6000;
    font-size: 2em;
}

h3 {
    text-align: center;
    font-size: 1em;
    margin: 0px;
    margin-bottom: 5px;
    color: #afafaf;
}

img {
    width: 100%;
    cursor: pointer;
}

/* Underline for h2 */
.underline {
    border-bottom: #ce6000 0.1em solid;
}

/* Scale value for monsters */
.scale {
    margin: 0 auto;
    width: 32%;
}

/* Remove spacing from between bodyparts */
.col-xs-4 {
    padding: 0;
}

/* Buttons that control gameplay */
.controlBtn {
  	color: #fff;
  	background-color: #007800;
  	border: none;
  	margin-top: 1em;
  	margin-bottom: 1em;
  	padding: 0.5em;
    border-radius: 5px;
}

.controlBtn:hover {
    color: #000;
    background-color: #fff;
}

.controlBtn:focus {
    outline: none;
}

/* Navbar */
.navbar-brand, .nav.navbar-nav.navbar-right {
    font-family: 'VT323', monospace;
    font-size: 2em;
}

.navbar {
    background-color: #000;
    border: none;
    margin: 0;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #afafaf;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #fff;
	color: #000;
}

/* Adds filters to loosing bodyparts */
.greyed {
    filter: grayscale(1) brightness(0.25); /* Microsoft Edge and Firefox 35+ */
}

/* Enemy monster in multiplayer */
#enemyMonster {
	display: none;
}

/* Save monster name input field */
.form-control {
    background-color: #000;
    color: #fff;
    border: none;
}

.form-group {
    margin: 0;
    margin-top: 5px;
}

/* Fight button that starts combat in multiplayer */
.fightButton {
    margin-right: 1em;
}

/* List of available opponents on multiplayer page */
#opponentList {
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}