/* Lehekülg */
body{
	background-color: #333;
  	padding-top: 50px;
    color: #fff;
}

h1{
	text-align: center;
	margin: 10px;
	font-family: 'VT323', monospace;
	color: #dc0000;
	font-size: 3.5em;
}

h2{
    text-align: center;
    font-size: 1em;
    margin: 0px;
    margin-bottom: 10px;
}

img{
	display: block;
  	user-select: none;
    width: 100%;

}

.scale{
    margin: 0 auto;
    width: 35%;
}

/* Et kehaosade vahel ei oleks vahed */
.col-xs-4{
	padding: 0;
}


/* Monsteri kehaosad */
.leftBodyPart{
	margin-right: 0 !important;
}

.rightBodyPart{
	margin-left: 0 !important;
}


/* Nupud mis kontrollivad mängimist */
.controlBtn{
  	color: #fff;
  	background-color: #009600;
  	border: none;
  	margin-top: 2.5em;
  	margin-bottom: 2.5em;
  	padding: 1em;
}

.controlBtn:hover{
  	color: #000;
  	background-color: #fff;
}


/* Mängija Monster */
.playerCreature {
    margin: 0 auto;
}


/* AI, vastase Monster */
.AICreature, .enemyCreature {
    margin: 0 auto;
    height: 20vh;
    width: 100%;
    background-color: #fff;
}

.opponentMonster{
    visibility: hidden;
}
/* Bootstrapi kastid */



/* Navbar tweaks */
.navbar-brand, .nav.navbar-nav.navbar-right{
	font-family: 'VT323', monospace;
	font-size: 2em;
}

.navbar{
	background-color: #000;
	border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #fff;
	color: #000;
}

/* Mitte korras */

#savedPlayer {
  width: 400px;
  height: 400px;
  margin-left: 200px;
  margin-top: 90px;
  background-color: #eee;
  border-radius: 5px;
}

.savedPlayerCreature {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #404040;
}

#player {
  float:left;
  height: 800px;
  width: 800px;
  margin-top: 100px;
  margin-left: 100px;
  background-color: #eee;
  border-radius: 5px;
}

#playerScore {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-left: 650px;
  margin-top: 50px;
  text-align: center;
  line-height: 100px;
  font-family: 'Rock Salt';
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 2em;
}

#AI, #enemy {
  width: 400px;
  height: 400px;
  margin-left: 200px;
  margin-top: 90px;
  background-color: #eee;
  border-radius: 5px;
}

#AIScore, #enemyScore {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 25px;
  margin-top: 25px;
  text-align: center;
  line-height: 50px;
  font-family: 'Rock Salt';
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#playerName {
  position: absolute;
  height: 70px;
  width: 500px;
  background-color: #331a00;
  color: white;
  margin: -35px 150px 0px 150px;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  line-height: 70px;
  font-size: 2.6em;
  font-weight: bold;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#enemyName {
  position: absolute;
  height: 36px;
  width: 250px;
  background-color: #331a00;
  color: white;
  margin: -18px 75px 0px 75px;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  line-height: 36px;
  font-size: 1.3em;
  font-weight: bold;
}
